<style>
    .groups {
        width: 400px;
    }

    mat-input-container.csv-area {
        width: 400px;
    }

    .container {
        display: flex;
    }

    .container>div {
        margin-right: 32px;
    }

    .buttons {
        padding: 8px 0; 
    }

    .removing {
        color: #F00;
        text-decoration: line-through;
    }

    .removing .remove-button {
        display: none;
    }

    .undo-button {
        display: none;
    }

    .removing .undo-button {
        display: inline-block;
    }
</style>

<section>
    <button mat-raised-button color="primary" [disabled]="!isModified()" (click)="save()">保存</button>
</section>

<section>
    <mat-form-field class="groups">
        <mat-select [placeholder]="selectPlaceholder" [(ngModel)]="target" (change)="groupChange($event)">
            <mat-option *ngFor="let group of groups" [value]="group.mail">{{group.name}} ({{group.mail}})</mat-option>
        </mat-select>
    </mat-form-field>
</section>

<section [hidden]="!target">
    <div class="buttons">
        <button mat-raised-button (click)="addNewMember()" color="basic" [disabled]="!loaded">追加</button>
        <button mat-raised-button (click)="showCsvMenu = !showCsvMenu" [disabled]="!loaded || showCsvMenu" color="basic">一括編集</button>
    </div>
    <div class="container">
        <div>
            <table>
                <thead>
                    <th (click)="orderBy('ID')" class="orderable">ID<span class="order">{{orderByText('ID')}}</span></th>
                    <th (click)="orderBy('NAME')" class="orderable">氏名<span class="order">{{orderByText('NAME')}}</span></th>
                    <th (click)="orderBy('MAIL')" class="orderable">メールアドレス<span class="order">{{orderByText('MAIL')}}</span></th>
                    <th>操作</th>
                </thead>
                <tr *ngFor="let member of targetMembers" [ngClass]="{'removing': member.state === 1 || member.state === 3}">
                    <td>{{member.id}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.mail}}</td>
                    <td [ngClass]="member.state === 0 ? '' : 'changed'">
                        <button mat-icon-button class="remove-button" (click)="member.remove()" color="basic" matTooltip="削除" matTooltipPosition="after">
                            <mat-icon class="mat-24" aria-label="削除">delete</mat-icon>
                        </button>
                        <button mat-icon-button class="undo-button" (click)="member.undo()" matTooltip="戻す" matTooltipPosition="after">
                            <mat-icon class="mat-24" aria-label="戻す">undo</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div [hidden]="!showCsvMenu">
            <mat-card>
                <mat-card-title>一括編集</mat-card-title>
                <div>
                    <mat-radio-group [(ngModel)]="mode">
                        <mat-radio-button value="add">追加</mat-radio-button>
                        <mat-radio-button value="replace">置き換え</mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-input-container class="csv-area">
                    <textarea matInput [(ngModel)]="mailLines" placeholder="メールアドレス" rows=10></textarea>
                    <div>
                        一行にひとつ入力してください。
                    </div>
                </mat-input-container>
                <div> 例）
                    <br /> tanaka@example.com
                    <br /> sat@example.com
                </div>
                <mat-card-actions>
                    <button mat-raised-button (click)="hideCsvMenu()">キャンセル</button>
                    <button mat-raised-button (click)="applyToList()" color="primary">上記内容を左の一覧へ反映</button>
                </mat-card-actions>
                <mat-card-footer>
                    {{message}}
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</section>