.autocomplete {
  flex-grow: 1
}

.new-mail {
  flex-grow: 1
}

.container mat-input-container {
  width: 100%
}

.add-button {
  width: 100%
}

.add-mode-message {
  size: 85%;
  color: #F00;
  margin: 4px 0;
}